# Dont commit the properties file
**/src/main/resources/application.properties

# Don't commit any DB passwords
POSTGRES_PASSWORD = database password
POSTGRES_USER = database username
POSTGRES_DB = database name
